[Unit]
Description=Dropbox daemon
After=network-online.target

[Service]
ExecStart=%h/.dropbox-dist/dropboxd
Restart=on-failure
RestartSec=10

[Install]
WantedBy=default.target
